@using EntityLayer.Concrete
@model IEnumerable<Category>


<div class="menu__content">
    <ul class="menu--dropdown">
        <li class="menu-item-has-children has-mega-menu">
            <a href="#">Elektronika</a><span class="sub-toggle"></span>
            <div class="mega-menu">
                <div class="mega-menu__column">
                    <h4>Electronic<span class="sub-toggle"></span></h4>
                    <ul class="mega-menu__list">
                        <li>
                            <a href="#.html">Home Audio &amp; Theathers</a>
                        </li>
                        <li>
                            <a href="#.html">TV &amp; Videos</a>
                        </li>
                        <li>
                            <a href="#.html">Camera, Photos &amp; Videos</a>
                        </li>
                        <li>
                            <a href="#.html">Cellphones &amp; Accessories</a>
                        </li>
                        <li>
                            <a href="#.html">Headphones</a>
                        </li>
                        <li>
                            <a href="#.html">Videosgames</a>
                        </li>
                        <li>
                            <a href="#.html">Wireless Speakers</a>
                        </li>
                        <li>
                            <a href="#.html">Office Electronic</a>
                        </li>
                    </ul>
                </div>
                <div class="mega-menu__column">
                    <h4>Accessories &amp; Parts<span class="sub-toggle"></span></h4>
                    <ul class="mega-menu__list">
                        <li>
                            <a href="#.html">Digital Cables</a>
                        </li>
                        <li>
                            <a href="#.html">Audio &amp; Video Cables</a>
                        </li>
                        <li>
                            <a href="#.html">Batteries</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#.html">Elektronika</a>
        </li>
        <li>
            <a href="#.html">Geyim</a>
        </li>
        <li>
            <a href="#.html">Kitab</a>
        </li>
        <li><a href="#.html">Vokal alətləri</a>
    </ul>
</div>