<div class="ps-page--single" id="contact-us">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Əsas</a></li>
                <li>Bizimlə əlaqə</li>
            </ul>
        </div>
    </div>
    <div class="ps-contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.9836707215236!2d49.828230722204104!3d40.38700481057133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d9b9925c3ed%3A0xeee07cb0b400caa2!2sAzerbaycan%20Devlet%20%C4%B0ktisat%20%C3%9Cniversitesi!5e0!3m2!1str!2saz!4v1723669001843!5m2!1str!2saz" height="500"></iframe>
    </div>
    <div class="ps-contact-info">
        <div class="container">
            <div class="ps-section__header">
                <h3>Hər hansı bir sualınız üçün soruşun</h3>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Bir başa əlaqə</h4>
                            <p><a href="#">contact@sandal.com</a><span>(+994) 50-310-80-88</span></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Baş Ofis</h4>
                            <p><span>17 Queen St, Southbank, Melbourne 10560, Australia</span></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Bizə Qoşulun</h4>
                            <p><span>Send your CV to our email:</span><a href="#">career@martfury.com</a></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Müştəri Xidmətləri</h4>
                            <p><a href="#">customercare@martfury.com</a><span>(800) 843-2446</span></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Media Əlaqələri</h4>
                            <p><a href="#">media@martfury.com</a><span>(801) 947-3564</span></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>İcarəçi Dəstəyi</h4>
                            <p><a href="#">vendorsupport@martfury.com</a><span>(801) 947-3100</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-contact-form">
        <div class="container">
            <form class="ps-form--contact-us" action="index.html" method="get">
                <h3>Mesaj göndərin</h3>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Ad *">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Elektron Ünvan *">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Mövzu *">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Mesaj"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group submit">
                    <button class="ps-btn">Göndər</button>
                </div>
            </form>
        </div>
    </div>
</div>
