<div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter" action="do_action" method="post">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Xəbərlər</h3>
                        <p>Yeniliklərlə bağlı öncədən xəbərdar olmaq üçün abunə olun</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Email ünvan">
                            <button class="ps-btn">Qoşul</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="ps-footer">
    <div class="container">
        <div class="ps-footer__widgets">
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Bizimlə Əlaqə</h4>
                <div class="widget_content">
                    <p>24/7 Zəng edin</p>
                    <h3>+994 70 310 80 88</h3>
                    <p>502 New Design Str, Melbourne, Australia <br><a href="mailto:contact@martfury.co">contact@sandal.az</a></p>
                    <ul class="ps-list--social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/company/sandalcom/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Keçidlər</h4>
                <ul class="ps-list--link">
                    <li><a href="policy.html">Policy</a></li>
                    <li><a href="term-condition.html">Term & Condition</a></li>
                    <li><a href="shipping.html">Shipping</a></li>
                    <li><a href="return.html">Return</a></li>
                    <li><a asp-controller="about" asp-action="faqs">FAQs</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Şirkət</h4>
                <ul class="ps-list--link">
                    <li><a asp-controller="about" asp-action="index">About Us</a></li>
                    <li><a href="affilate.html">Affilate</a></li>
                    <li><a href="shipping.html">Career</a></li>
                    <li><a asp-controller="contact" asp-action="index">Əlaqə</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Bussiness</h4>
                <ul class="ps-list--link">
                    <li><a href="our-press.html">Our Press</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="my-account.html">My account</a></li>
                    <li><a href="shop.html">Shop</a></li>
                </ul>
            </aside>
        </div>
        <div class="ps-footer__links">
            <p>
                <strong>Consumer Electric:</strong><a href="#">Air Conditioners</a><a href="#">Audios &amp; Theaters</a><a href="#">Car Electronics</a><a href="#">Office Electronics</a><a href="#">TV Televisions</a><a href="#">Washing Machines</a>
            </p>
            <p>
                <strong>Clothing &amp; Apparel:</strong><a href="#">Printers</a><a href="#">Projectors</a><a href="#">Scanners</a><a href="#">Store &amp; Business</a><a href="#">4K Ultra HD TVs</a><a href="#">LED TVs</a><a href="#">OLED TVs</a>
            </p>
            <p>
                <strong>Home, Garden &amp; Kitchen:</strong><a href="#">Cookware</a><a href="#">Decoration</a><a href="#">Furniture</a><a href="#">Garden Tools</a><a href="#">Garden Equipments</a><a href="#">Powers And Hand Tools</a><a href="#">Utensil &amp; Gadget</a>
            </p>
            <p>
                <strong>Health &amp; Beauty:</strong><a href="#">Hair Care</a><a href="#">Decoration</a><a href="#">Hair Care</a><a href="#">Makeup</a><a href="#">Body Shower</a><a href="#">Skin Care</a><a href="#">Cologine</a><a href="#">Perfume</a>
            </p>
            <p>
                <strong>Jewelry &amp; Watches:</strong><a href="#">Necklace</a><a href="#">Pendant</a><a href="#">Diamond Ring</a><a href="#">Sliver Earing</a><a href="#">Leather Watcher</a><a href="#">Gucci</a>
            </p>
            <p>
                <strong>Computer &amp; Technologies:</strong><a href="#">Desktop PC</a><a href="#">Laptop</a><a href="#">Smartphones</a><a href="#">Tablet</a><a href="#">Game Controller</a><a href="#">Audio &amp; Video</a><a href="#">Wireless Speaker</a><a href="#">Done</a>
            </p>
        </div>
        <div class="ps-footer__copyright">
            <p>&copy; @DateTime.Now.Year Sandal. Bütün Hüquqlar Qorunur</p>
            <p><span>Təhlükəsiz ödəniş üçün:</span><a href="#"><img src="~/Sandal/img/payment-method/1.jpg" alt="" /></a><a href="#"><img src="~/Sandal/img/payment-method/2.jpg" alt="" /></a><a href="#"><img src="~/Sandal/img/payment-method/3.jpg" alt="" /></a><a href="#"><img src="~/Sandal/img/payment-method/4.jpg" alt="" /></a><a href="#"><img src="~/Sandal/img/payment-method/5.jpg" alt="" /></a></p>
        </div>
    </div>
</footer>