<div class="ps-page--single">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Əsas</a></li>
                <li>İcarəçi ol</li>
            </ul>
        </div>
    </div>
    <div class="ps-vendor-banner bg--cover" data-background="/Sandal/img/bg/vendor.jpg">
        <div class="container">
            <h2>Minlərlə istifadəçi sizin məhsulunuzu icarəyə götürmək üçün gözləyir!</h2>
            <a class="ps-btn ps-btn--lg" href="#">İcarəyə başla</a>
        </div>
    </div>
    <div class="ps-section--vendor ps-vendor-about">
        <div class="container">
            <div class="ps-section__header">
                <p>Niyə Sandalda İcarəyə Verəsiniz?</p>
                <h4>Dünyanın müxtəlif bölgələrindən minlərlə istifadəçi sizin unikal məhsullarınızı icarəyə götürmək üçün platformamızdan yararlanır</h4>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="ps-block--icon-box-2">
                            <div class="ps-block__thumbnail">
                                <img src="~/Sandal/img/icons/vendor-1.png" alt="">
                            </div>
                            <div class="ps-block__content">
                                <h4>Aşağı Komissiya Haqqı</h4>
                                <div class="ps-block__desc" data-mh="about-desc">
                                    <p>Məhsullarınızı sadalamaq üçün çox xərc tələb olunmur və satış həyata keçirdiyiniz zaman Sandalın komissiyası yalnız 2.5%-dir.</p>
                                </div>
                                <a href="#">Ətraflı öyrənin</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="ps-block--icon-box-2">
                            <div class="ps-block__thumbnail">
                                <img src="~/Sandal/img/icons/vendor-2.png" alt="">
                            </div>
                            <div class="ps-block__content">
                                <h4>Güclü Alətlər</h4>
                                <div class="ps-block__desc" data-mh="about-desc">
                                    <p>Bizim alətlərimiz və xidmətlərimiz işinizi idarə etmək, tanıtmaq və böyütmək üçün sadə və rahatdır.</p>
                                </div>
                                <a href="#">Ətraflı öyrənin</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="ps-block--icon-box-2">
                            <div class="ps-block__thumbnail">
                                <img src="~/Sandal/img/icons/vendor-3.png" alt="">
                            </div>
                            <div class="ps-block__content">
                                <h4>24/7 Dəstək</h4>
                                <div class="ps-block__desc" data-mh="about-desc">
                                    <p>Bizim alətlərimiz və xidmətlərimiz işinizi idarə etmək, tanıtmaq və böyütmək üçün sadə və rahatdır.</p>
                                </div>
                                <a href="#">Ətraflı öyrənin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-section--vendor ps-vendor-milestone">
        <div class="container">
            <div class="ps-section__header">
                <p>Necə işləyir?</p>
                <h4>Sadəcə 4 addımla Sandal'da icarəyə başlamaq çox asandır</h4>
            </div>
            <div class="ps-section__content">
                <div class="ps-block--vendor-milestone">
                    <div class="ps-block__left">
                        <h4>Qeydiyyatdan keçin və məhsullarınızı sadalayın</h4>
                        <ul>
                            <li>Pulsuz qeydiyyatdan keçin və məhsul kataloqu yaradın. Biznesinizi idarə etmək üçün pulsuz təlimlərdən yararlanın.</li>
                            <li>Sandal məsləhətçiləri hər addımda sizə kömək edəcək və biznesinizi onlayn şəkildə genişləndirəcək.</li>
                        </ul>
                    </div>
                    <div class="ps-block__right">
                        <img src="~/Sandal/img/vendor/milestone-1.png" alt="">
                    </div>
                    <div class="ps-block__number"><span>1</span></div>
                </div>
                <div class="ps-block--vendor-milestone reverse">
                    <div class="ps-block__left">
                        <h4>Sifarişləri qəbul edin və məhsullarınızı icarəyə verin</h4>
                        <ul>
                            <li>Pulsuz qeydiyyatdan keçin və məhsul kataloqu yaradın. Biznesinizi idarə etmək üçün pulsuz təlimlərdən yararlanın.</li>
                            <li>Sandal məsləhətçiləri hər addımda sizə kömək edəcək və biznesinizi onlayn şəkildə genişləndirəcək.</li>
                        </ul>
                    </div>
                    <div class="ps-block__right">
                        <img src="~/Sandal/img/vendor/milestone-2.png" alt="">
                    </div>
                    <div class="ps-block__number"><span>2</span></div>
                </div>
                <div class="ps-block--vendor-milestone">
                    <div class="ps-block__left">
                        <h4>Paketləyin və çatdırın</h4>
                        <ul>
                            <li>Pulsuz qeydiyyatdan keçin və məhsul kataloqu yaradın. Biznesinizi idarə etmək üçün pulsuz təlimlərdən yararlanın.</li>
                            <li>Sandal məsləhətçiləri hər addımda sizə kömək edəcək və biznesinizi onlayn şəkildə genişləndirəcək.</li>
                        </ul>
                    </div>
                    <div class="ps-block__right">
                        <img src="~/Sandal/img/vendor/milestone-3.png" alt="">
                    </div>
                    <div class="ps-block__number"><span>3</span></div>
                </div>
                <div class="ps-block--vendor-milestone reverse">
                    <div class="ps-block__left">
                        <h4>Məhsulunuzu sadalayın və qazanc əldə edin</h4>
                        <ul>
                            <li>Pulsuz qeydiyyatdan keçin və məhsul kataloqu yaradın. Biznesinizi idarə etmək üçün pulsuz təlimlərdən yararlanın.</li>
                            <li>Sandal məsləhətçiləri hər addımda sizə kömək edəcək və biznesinizi onlayn şəkildə genişləndirəcək.</li>
                        </ul>
                    </div>
                    <div class="ps-block__right">
                        <img src="~/Sandal/img/vendor/milestone-4.png" alt="">
                    </div>
                    <div class="ps-block__number"><span>4</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-section--vendor ps-vendor-best-fees">
        <div class="container">
            <div class="ps-section__header">
                <p>ƏN YAXŞI KOMİSSİYA</p>
                <h4>Münasib, şəffaf və təhlükəsiz</h4>
            </div>
            <div class="ps-section__content">
                <h5>Hər ay 50 məhsula qədər pulsuz siyahıya salmaq imkanı, satış baş verdikdə isə yalnız kiçik bir faiz ödənir.</h5>
                <div class="ps-section__numbers">
                    <figure>
                        <h3>0&#8380;</h3>
                        <span>Elan haqqı</span>
                    </figure>
                    <figure>
                        <h3>5%</h3>
                        <span>Komissiya</span>
                    </figure>
                </div>
                <div class="ps-section__desc">
                    <figure>
                        <figcaption>Ödənişə nə daxildir:</figcaption>
                        <ul>
                            <li>160 milyondan çox istifadəçi.</li>
                            <li>Çatdırılma etiketlərini evdən çap etmək üçün endirimlər.</li>
                            <li>Satıcı dəstəyi və müştəri xidməti.</li>
                        </ul>
                    </figure>
                </div>
                <div class="ps-section__highlight">
                    <img src="~/Sandal/img/icons/vendor-4.png" alt="">
                    <p>Sandalla əməkdaşlıq etmək və məhsullarınızı sadalamaq asandır. Komissiyalarımız şəffafdır və heç bir gizli ödəniş yoxdur.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-section--vendor ps-vendor-testimonials">
        <div class="container">
            <div class="ps-section__header">
                <p>SELLER STORIES</p>
                <h4>See Seller share about their successful on Martfury</h4>
            </div>
            <div class="ps-section__content">
                <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="true" data-owl-item="2" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="2" data-owl-duration="1000" data-owl-mousedrag="on">
                    <div class="ps-block--testimonial">
                        <div class="ps-block__header"><img src="~/Sandal/img/users/1.jpg" alt=""></div>
                        <div class="ps-block__content">
                            <i class="icon-quote-close"></i>
                            <h4>Kanye West<span>Head Chef at BBQ Restaurant</span></h4>
                            <p>Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                        </div>
                    </div>
                    <div class="ps-block--testimonial">
                        <div class="ps-block__header"><img src="~/Sandal/img/users/2.png" alt=""></div>
                        <div class="ps-block__content">
                            <i class="icon-quote-close"></i>
                            <h4>Anabella Kleva<span>Boss at TocoToco</span></h4>
                            <p>Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                        </div>
                    </div>
                    <div class="ps-block--testimonial">
                        <div class="ps-block__header"><img src="~/Sandal/img/users/3.jpg" alt=""></div>
                        <div class="ps-block__content">
                            <i class="icon-quote-close"></i>
                            <h4>William Roles<span>Head Chef at BBQ Restaurant</span></h4>
                            <p>Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-section--vendor ps-vendor-faqs">
        <div class="container">
            <div class="ps-section__header">
                <p>FREQUENTLY ASKED QUESTIONS</p>
                <h4>Here are some common questions about selling on Martfury</h4>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <figure>
                            <figcaption>How do fees work on Martfury?</figcaption>
                            <p>Joining and starting a shop on Martfury is free. There are three basic selling fees: a listing fee, a transaction fee, and a payment processing fee.</p>
                            <p>It costs USD 0.20 to publish a listing to the marketplace. A listing lasts for four months or until the item is sold. Once an item sells, there is a 3.5% transaction fee on the sale price (not including shipping costs). If you accept payments with PayPal, there is also a payment processing fee based on their fee structure.</p>
                            <p>Listing fees are billed for $0.20 USD, so if your bank’s currency is not USD, the amount may differ based on changes in the exchange rate.</p>
                        </figure>
                        <figure>
                            <figcaption>What do I need to do to create a shop?</figcaption>
                            <p>It’s easy to set up a shop on Martfury. Create an Martfury account (if you don’t already have one), set your shop location and currency, choose a shop name, create a listing, set a payment method (how you want to be paid), and finally set a billing method (how you want to pay your Martfuryfees).</p>
                        </figure>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <figure>
                            <figcaption>How do I get paid?</figcaption>
                            <p>If you accept payments with PayPal, funds from PayPal sales on Martfury will be deposited into your PayPal account. We encourage sellers to use a PayPal Business account and not a Personal account, as personal accounts are subject to monthly receiving limits and cannot accept payments from buyers that are funded by a credit card.</p>
                            <p>It costs USD 0.20 to publish a listing to the marketplace. A listing lasts for four months or until the item is sold. Once an item sells, there is a 3.5% transaction fee on the sale price (not including shipping costs). If you accept payments with PayPal, there is also a payment processing fee based on their fee structure.</p>
                            <p>Listing fees are billed for $0.20 USD, so if your bank’s currency is not USD, the amount may differ based on changes in the exchange rate.</p>
                        </figure>
                        <figure>
                            <figcaption>Do I need a credit or debit card to create a shop?</figcaption>
                            <p>No, a credit or debit card is not required to create a shop. To be verified as a seller you have the choice to use either a credit card or to register via PayPal. You will not incur any charges until you open your shop and publish your listings.</p>
                        </figure>
                        <figure>
                            <figcaption>What can I sell on Martfury?</figcaption>
                        </figure>
                        <p>Martfury provides a marketplace for crafters, artists and collectors to sell their handmade creations, vintage goods (at least 20 years old), and both handmade and non-handmade crafting supplies.</p>
                    </div>
                </div>
            </div>
            <div class="ps-section__footer">
                <p>Still have more questions? Feel free to contact us.</p><a class="ps-btn" href="#">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="ps-vendor-banner bg--cover" data-background="/Sandal/img/bg/vendor.jpg">
        <div class="container">
            <h2>It's time to start making money.</h2><a class="ps-btn ps-btn--lg" href="#">Start Selling</a>
        </div>
    </div>
</div>