<div class="col-lg-4">
    <div class="ps-section__left">
        <aside class="ps-widget--account-dashboard">
            <div class="ps-widget__header">
                <img src="img/users/3.jpg" alt="" />
                <figure>
                    <figcaption>Salam</figcaption>
                    <p><a href="#">@Model.Email</a></p>
                </figure>
            </div>
            <div class="ps-widget__content">
                <ul>
                    <li class="active"><a asp-action="profile" asp-controller="account"><i class="icon-user"></i> İstifadəçi məlumatları</a></li>
                    <li><a href="#"><i class="icon-alarm-ringing"></i> Bildirişlər</a></li>
                    <li><a href="#"><i class="icon-papers"></i> Sifarişlər</a></li>
                    <li><a href="#"><i class="icon-map-marker"></i> Addresslər</a></li>
                    <li><a href="#"><i class="icon-store"></i> Daha öncə baxılmış məhsullar</a></li>
                    <li><a asp-action="wishlist" asp-controller="shop"><i class="icon-heart"></i> Sevimlilər</a></li>
                    <li><a asp-action="logout" asp-controller="account"><i class="icon-power-switch"></i>Çıxış et</a></li>
                </ul>
            </div>
        </aside>
    </div>
</div>