@model AccountViewModel
<div class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Əsas</a></li>
                <li>Profilim</li>
            </ul>
        </div>
    </div>
    <div class="ps-my-account-2">
        <div class="container">
            <div class="ps-section__wrapper">
                <div class="ps-section__left">
                    <div class="ps-form--account ps-tab-root" action="link.html" method="get">
                        <ul class="ps-tab-list">
                            <li class="@(!Model.IsRegistering ? "active" : "")"><a href="#sign-in">Giriş</a></li>
                            <li class="@(Model.IsRegistering ? "active" : "")"><a href="#register">Qeydiyyat</a></li>
                        </ul>
                        <div class="ps-tabs">
                            <form class="ps-tab @(!Model.IsRegistering ? "active" : "")" id="sign-in" asp-action="SignIn">
                                @await Html.PartialAsync("SignIn", Model.Login)
                            </form>

                            <form class="ps-tab @(Model.IsRegistering ? "active" : "")" id="register" asp-action="Register">
                                @await Html.PartialAsync("Register", Model.Register)
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ps-section__right">
                    <figure class="ps-section__desc">
                        <figcaption>Qeydiyyatdan keçərək yararlanın:</figcaption>
                        <ul class="ps-list">
                            <li><i class="icon-credit-card"></i><span>Ödənişlərinizi sürətləndirin</span></li>
                            <li><i class="icon-clipboard-check"></i><span>Sifarişlərinizi asanlıqla izləyin</span></li>
                            <li><i class="icon-bag2"></i><span>Bütün alış-verişlərinizi qeydə alın</span></li>
                        </ul>
                    </figure>
                    <!-- <div class="ps-section__coupon"><span>$25</span>
                        <aside>
                            <h5>A small gift for your first purchase</h5>
                            <p>Martfury give $25 as a small gift for your first purchase. Welcome to Martfury!</p>
                        </aside>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>